.home-div{
    width: 100%;
    display: flex;
    
    height: 1354px;
}

.home-div-div1{
    width: 20%;
    display: block;
}

.home-div-div2{
width: 80%;
}

.home-div-div1>div:first-child{
    width: 100%;
    
height: 1306px;



background: #181818;
}

.home-div-div2-div1>:first-child{
    display: flex;
height: 64px;
align-items: center;
gap: 12px;

}

.home-div-div2-div1{
display: flex;
width: 97%;
height: 64px;
padding: 0px 20px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;

}

.home-div-div2-div1>div:nth-child(2){

display: flex;
height: 56px;
padding: 8px 16px;
align-items: center;
gap: 10px;
background: rgba(2, 171, 108, 0.01);

}

.category-span{
color: #000000D6;
font-family: HelveticaNeue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.category-symbol{
    display: flex;
width: 32px;
height: 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 1px solid #EBEBEB;
background: #FFF;
}

.user-img-span{
display: flex;
align-items: center;
gap: 10px;
}

.user-img-span>img{
    width: 32px;
height: 32px;
border-radius: 32px;
}

.bell-icon-span{
    display: flex;
width: 40px;
height: 40px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 1px solid #EBEBEB;
background: #FFF;
}

.bell-icon-span>img{
    width: 24px;
height: 24px;
flex-shrink: 0;
}

.notification-count-span{
display: flex;
width: 14px;
height: 14px;
padding: 2px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 100px;
background: linear-gradient(0deg, #EA7E7E 0%, #EA7E7E 100%), #FFF;
position: absolute;
top: 15px;
right: 3.2%;
}

.notification-count-span>span{
 color: #FFF;
text-align: center;
font-family: HelveticaNeue;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.home-div-div2-div2{
display: inline-flex;
height: 32px;
padding: 10px 12px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
width: max-content;
position: absolute;
right: 78.79px;
top: 88px;
border: 2px solid #02AB6C;
border-radius: 11px;

}

.home-div-div2-div2>span{
    color: #FFF;
font-family: HelveticaNeue;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.home-div-div2-div2>:first-child{
    color: #0000007A;

}

.home-div-div2-div2>span:nth-child(2){
    color: #02AB6C;
}


.home-div-div2-div3{
display: flex;
width: 100%;
margin-top: 109px;

}

.home-div-div2-div3>div:first-child{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 12px;
border: 1px solid #EBEBEB;
width: 23%;
background: #FFF;
box-shadow: 0px 0.599px 5.32px 0px rgba(0, 0, 0, 0.01), 0px 2.01px 17.869px 0px rgba(0, 0, 0, 0.01), 0px 9px 80px 0px rgba(0, 0, 0, 0.02);
margin-left: 15px;
height: 134px;
}

.home-div-div2-div3>div:nth-child(1)>div:first-child{
    width:127.78%;
    
    padding: 24px 20px;
    color: #000000CC;
font-family: HelveticaNeue;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
    overflow: hidden;
    
}

.home-div-div2-div3>div:nth-child(1)>div:first-child>span{
   
}

.home-div-div2-div3>div:nth-child(1)>div:nth-child(2){
    display: flex;
    height: 76px;
    padding: 0px 81px 32px 20px;
    align-items: center;
    align-self: stretch;
    width: 127%;
}

.home-div-div2-div3>div:nth-child(1)>div:nth-child(2)>div{
    border: 1px solid rgb(248, 187, 187);
    border-width: thin;
    border-left: 7px solid rgb(175, 6, 6);
    
   

    height: 100%;
    border-radius: 10px;
    width: 60%;
}

.home-div-div2-div3>div:nth-child(2){
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 12px;
border: 1px solid #EBEBEB;
width: 23%;
background: #FFF;
box-shadow: 0px 0.599px 5.32px 0px rgba(0, 0, 0, 0.01), 0px 2.01px 17.869px 0px rgba(0, 0, 0, 0.01), 0px 9px 80px 0px rgba(0, 0, 0, 0.02);
margin-left: 15px;
height: 134px;
}

.home-div-div2-div3>div:nth-child(2)>div:first-child{
    width:127.78%;
    
    padding: 24px 20px;
    color: #000000CC;
font-family: HelveticaNeue;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
    overflow: hidden;
    
}

.home-div-div2-div3>div:nth-child(2)>div:first-child>span{
   
}

.home-div-div2-div3>div:nth-child(2)>div:nth-child(2){
    display: flex;
    height: 76px;
    padding: 0px 81px 32px 20px;
    align-items: center;
    align-self: stretch;
    width: 127%;
}

.home-div-div2-div3>div:nth-child(2)>div:nth-child(2)>div{
    border: 1px solid #fff4c3;
    border-width: thin;
    border-left: 7px solid #f1c603;
    
   

    height: 100%;
    border-radius: 10px;
    width: 60%;
}



.home-div-div2-div3>div:nth-child(3){
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 12px;
border: 1px solid #EBEBEB;
width: 23%;
background: #FFF;
box-shadow: 0px 0.599px 5.32px 0px rgba(0, 0, 0, 0.01), 0px 2.01px 17.869px 0px rgba(0, 0, 0, 0.01), 0px 9px 80px 0px rgba(0, 0, 0, 0.02);
margin-left: 15px;
height: 134px;
}

.home-div-div2-div3>div:nth-child(3)>div:first-child{
    width:127.78%;
    
    padding: 24px 20px;
    color: #000000CC;
font-family: HelveticaNeue;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
    overflow: hidden;
    
}

.home-div-div2-div3>div:nth-child(3)>div:first-child>span{
   
}

.home-div-div2-div3>div:nth-child(3)>div:nth-child(2){
    display: flex;
    height: 76px;
    padding: 0px 81px 32px 20px;
    align-items: center;
    align-self: stretch;
    width: 127%;
}

.home-div-div2-div3>div:nth-child(3)>div:nth-child(2)>div{
    border: 1px solid rgba(2, 171, 108, 0.3);
    border-width: thin;
    border-left: 7px solid #02AB6C;
    
   

    height: 100%;
    border-radius: 10px;
    width: 60%;
}


.home-div-div2-div3>div:nth-child(4){
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
border: 1px solid #EBEBEB;
width: 14%;
margin-left: 15px;
height: 134px;
background: rgba(2, 171, 108, 0.67);
box-shadow: 0px 0.599px 5.32px 0px rgba(0, 0, 0, 0.01), 0px 2.01px 17.869px 0px rgba(0, 0, 0, 0.01), 0px 9px 80px 0px rgba(0, 0, 0, 0.02);
}

.home-div-div2-div3>div:nth-child(4)>div:first-child{
    display: flex;
    height: 64px;
    padding: 20px;
    align-items: center;
    gap: 10px;
    color: #FFF;

font-family: HelveticaNeue;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; 
    
}

.home-div-div2-div3>div:nth-child(4)>div:first-child>span{
   
}

.home-div-div2-div3>div:nth-child(4)>div:nth-child(2){
    display: flex;
    padding: 0px 20px 20px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: rgba(255, 255, 255, 0.84);

text-align: center;
font-family: HelveticaNeue;
font-size: 46px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.home-div-div2-div4{
width: 76.54%;
height: 521px;
flex-shrink: 0;
border-radius: 12px;
border: 1px solid #EBEBEB;
margin-top: 15px;
margin-left: 15px;
background: #FFF;

box-shadow: 0px 0.599px 5.32px 0px rgba(0, 0, 0, 0.01), 0px 2.01px 17.869px 0px rgba(0, 0, 0, 0.01), 0px 9px 80px 0px rgba(0, 0, 0, 0.02);
}

.home-div-div2-div4>div:first-child{
    display: flex;
width: 100%;
height: 64px;
padding: 20px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}

.home-div-div2-div4>div:nth-child(2){
    width: 100%;
height: 447px;
flex-shrink: 0;
}


.home-div-div2-div5{
    display: flex;
    width: 82.74%;
    
    min-height: 471px;
    margin-top: 15px;
    margin-left: 15px;
}
.home-div-div2-div5>div:first-child{
    width: 39.56%;
height: 471px;
flex-shrink: 0;
border-radius: 12px;
border: 1px solid #EBEBEB;
background: #FFF;
}

.home-div-div2-div5-div1-div1{
    display: flex;
    width: 100%;
    justify-content: space-between;
   

height: 64px;
padding: 20px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}

.home-div-div2-div5-chart-headding-svg{
    display: flex;
    
height: 36px;
padding: 6px 4px;
justify-content: center;
align-items: center;
gap: 2px;
margin-right: 35px;
border-radius: 12px;
border: 1px solid #EBEBEB;
background: #FFF;
box-shadow: 0px 0.5px 4px 0px rgba(0, 0, 0, 0.02), 0px 2px 16px 0px rgba(0, 0, 0, 0.02), 0px 8px 80px 0px rgba(0, 0, 0, 0.04);
}

.home-div-div2-div5-chart-headding-svg>div:first-child{
    display: flex;
    padding: 6px;
    align-items: flex-start;
    gap: 10px;
}

.home-div-div2-div5-chart-headding-svg>div:nth-child(2){
display: flex;
padding: 12px 6px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.home-div-div2-div5-div1-div1>div:first-child{
    color: rgba(0, 0, 0, 0.84);
font-family: HelveticaNeue;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.home-div-div2-div5-div2{
    width: 57.09%;
    margin-left: 30px;
}

.home-div-div2-div5-div2>:first-child{
    width:93%;
    padding: 15px 17px;
flex-shrink: 0;
border-radius: 12px 12px 0px 0px;
border: 1px solid #EBEBEB;
background: #FFF;
display: flex;
justify-content: space-between;
}

.home-div-div2-div5-div2>:first-child:first-child{
    color: rgba(0, 0, 0, 0.84);
font-family: HelveticaNeue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.home-div-div2-div5-div2-div2{
    display: flex;
width: max-content;
height: 27px;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #FFF;
background: #FFF;
box-shadow: 0px 0.599px 5.32px 0px rgba(0, 0, 0, 0.01), 0px 2.01px 17.869px 0px rgba(0, 0, 0, 0.01), 0px 9px 80px 0px rgba(0, 0, 0, 0.02);
}
.home-div-div2-div5-div2-div2>div:first-child{
display: flex;
width: 32px;
height: 32px;
padding: 9px 4px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}
.home-div-div2-div5-div2-div2>div:nth-child(2){
    display: flex;
    height: 20px;
    padding: 8px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-left: 1px solid rgba(2, 171, 108, 0.16);
    color: rgba(0, 0, 0, 0.84);
font-family: HelveticaNeue;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.boxes-content{
    display: flex;
    justify-content: space-between;
}

.boxes-content>div:first-child{
    color: black;
    padding: 8px;
}

.boxes-content>div:nth-child(2){
color: rgb(173, 0, 0);
padding: 8px;
}

.home-div-div1>div:first-child{
    display: flex;
    
    padding: 28px 10px 13px 20px;
    align-items: center;
    gap: 5px;
}

.home-div-div1>div:first-child img{
    
}


th{
    font-size: 11px;
    color: rgba(0, 0, 0,0.48);
   
    width: 100%;
    text-align: center;
    
}
td{
    padding: 8px 0px;
    width: 100%; 
    text-align: center;
    border-width: thin; 
}

table, td, th {
    border: 1px solid rgba(0, 0, 0,0.28);;
    border-width: thin;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-width: thin rgba(0, 0, 0,0.28);
  }

  @media only screen and (max-width: 1340px) {
    .home-div-div2{
        width: 95%;
        }
        .home-div-div2-div3>div:first-child{
            width: 24%;
        }
        .home-div-div2-div3>div:nth-child(2){
            width: 24%;
        }
        .home-div-div2-div3>div:nth-child(3){
            width: 24%;
        }
        .home-div-div2-div3>div:nth-child(4){
            width: 20%;
        }
        .home-div-div2-div4{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        .home-div-div2-div5{
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
  }
  @media only screen and (max-width: 860px) {
    .home-div-div2-div3{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .home-div-div2-div3>div:nth-child(3)>div:nth-child(1) {
        padding-right: 0px;
        width: 100%;
        margin: auto;
    }
    .home-div-div2-div3>div:nth-child(3)>div:nth-child(2) {
        padding-right: 0px;
        width: 100%;
        margin: auto;
    }
    .home-div-div2-div3>div:first-child{
        width: 90%;

    }
  
    .home-div-div2-div3>div:nth-child(2){
        width: 90%;
    }
    .home-div-div2-div3>div:nth-child(3){
        width: 90%;
    }
   
    .home-div-div2-div3>div:nth-child(3)>div:nth-child(2){
        padding-right: 0;
    }
    .home-div-div2-div3>div:nth-child(4){
        width: 90%;
        margin-top: 2rem;
    }

  }
  @media only screen and (max-width: 782px) {
    .home-div-div2-div5{
    display: block;
    width:90%;
 
    }
    .home-div-div2-div5>div:first-child{
        margin: auto;
        width: 70%;
    }
    .home-div-div2-div5>div:nth-child(2){
        width: 70%;
        margin: auto;
        margin-top: 2rem;
    }
  }

  @media only screen and (max-width: 700px) {
    .home-div-div2-div3{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .home-div-div2-div3>div:nth-child(2)>div:nth-child(1) {
        padding-right: 0px;
        width: 100%;
        margin: auto;
    }
    .home-div-div2-div3>div:nth-child(2)>div:nth-child(2) {
        padding-right: 0px;
        width: 100%;
        margin: auto;
    }
    .home-div-div2-div3>div:first-child{
        width: 90%;
    }
    .home-div-div2-div3>div:nth-child(2){
        width: 90%;
    }
    .home-div-div2-div3>div:nth-child(3){
        width: 90%;
        margin-top: 2rem;
    }
    .home-div-div2-div3>div:nth-child(4){
        width: 90%;
        margin-top: 2rem;
    }

  }

  @media only screen and (max-width: 500px) {
    .home-div-div2-div3{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .home-div-div2-div3>div:nth-child(1)>div:nth-child(1) {
        padding-right: 0px;
        width: 100%;
        margin: auto;
    }
    .home-div-div2-div3>div:nth-child(1)>div:nth-child(2) {
        padding-right: 0px;
        width: 100%;
        margin: auto;
    }
    .home-div-div2-div3>div:first-child{
        width: 90%;
    }
    .home-div-div2-div3>div:nth-child(2){
        width: 90%;
        margin-top: 2rem;
    }
    .home-div-div2-div3>div:nth-child(3){
        width: 90%;
        margin-top: 2rem;
    }
    .home-div-div2-div3>div:nth-child(4){
        width: 90%;
        margin-top: 2rem;
    }

  }